@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("./card.css");

:root{
    --dark: #FFF;
    --dark-secondary: #1E293B;
    --primary-light: #000;
    --light: #111827;
    --font-light-color: #494949;

}

.dark-mode{
    --dark: #111827;
    --dark-secondary: #1E293B;
    --primary-light: #08B6D4;
    --light: #FFFFFF;
    --font-light-color: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--dark);
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.xl-heading{
    color: var(--light);
    font-size: 3rem;
}
.headings{
    font-size: 3rem;
    font-weight: 500;
    color: var(--light);
}
.sub-heading{
    color: var(--font-light-color);
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: medium;
}
.paragraph{
    color: var(--font-light-color);
    margin-bottom: 1rem;
    font-size: smaller;
}

.main-container{
    /* border: 1px solid red; */
    background-color: var(--dark);
    height: 100vh;
    max-width: 1350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 2rem;
    cursor: context-menu;
}   

.header{
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 2rem 0;
}
.header > .wrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > .wrapper > a{
    /* border: 1px solid red; */
    color: var(--primary-light);
    font-size: 1.1rem;
    text-decoration: none;
    height: fit-content;
    user-select: none;
}
.header > .wrapper > .switch{
    position: relative;
    background-color: #111827;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0 3px;
    display: flex;
    align-items: center;
    cursor: pointer;

    
}

.header > .wrapper > .switch > .switch-circle{
    position: absolute;
    background-color: #08B6D4;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.header > .wrapper > .switch.active{
    background-color: var(--light);
}
.header > .wrapper > .switch.active .switch-circle{
    margin: 1.4rem;
    background-color: var(--primary-light);
    
}


.front-page{
    /* border: 1px solid lime; */
    display: grid;
    grid-template-columns: 45% 55%;
    height: 75vh;
    position: relative;
}
.front-page > .wrapper{
    /* border: 1px solid red; */
    align-self: center;
}
.front-page > .wrapper > .contact-button{
    display: inline-block;
    /* border: 1px solid red; */
    text-decoration: none;
    color: #FFF;
    background-color: #2563EB;
    padding: .8rem;
    border-radius: 10px;
    margin-top: 2rem;
    font-size: medium;
}
.front-page > .wrapper > .contact-button:hover{
    background-color: #2159d1;
}
.front-page > .image-wrapper{
    /* border: 1px solid red; */
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.front-page > .image-wrapper > .image{
    position: relative;
    /* border: 1px solid violet; */
    overflow: hidden;
    height: 20rem;
    width: 10rem;
    transform: skew(-10deg);
    transition-duration: 300ms;

}
.front-page > .image-wrapper > .image > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: skew(10deg) scale(1.35);
}
.front-page > .image-wrapper > .image:hover{
    filter: saturate(1.3);
    transform: skew(-10deg) scale(1.1);
}
.front-page > .image-wrapper > .center-image-wrapper{
    width: 15rem;
    height: 25rem;
}

.portfolio{
    margin-top: 8rem;
    text-align: center;
    border: 1px solid red;
    width: 100%;
}