@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("./card.css");

:root{
    --dark: #FFF;
    --dark-secondary: #FFF;
    --primary-light: #000;
    --light: #111827;
    --font-light-color: #494949;

}

.dark-mode{
    --dark: #111827;
    --dark-secondary: #1E293B;
    --primary-light: #08B6D4;
    --light: #FFFFFF;
    --font-light-color: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--dark);
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.xl-heading{
    color: var(--light);
    font-size: 3rem;
}
.headings{
    font-size: 3rem;
    font-weight: 500;
    color: var(--light);
}
.sub-heading{
    color: var(--font-light-color);
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: medium;
}
.paragraph{
    color: var(--font-light-color);
    margin-bottom: 1rem;
    font-size: smaller;
}

.main-container{
    /* border: 1px solid red; */
    background-color: var(--dark);
    max-width: 1350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 2rem;
    cursor: context-menu;
}   

.header{
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 2rem 0;
}
.header > .wrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > .wrapper > a{
    /* border: 1px solid red; */
    color: var(--primary-light);
    font-size: 1.1rem;
    text-decoration: none;
    height: fit-content;
    user-select: none;
}
.header > .wrapper > .switch{
    position: relative;
    background-color: #111827;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0 3px;
    display: flex;
    align-items: center;
    cursor: pointer;

    
}

.header > .wrapper > .switch > .switch-circle{
    position: absolute;
    background-color: #08B6D4;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.header > .wrapper > .switch.active{
    background-color: var(--light);
}
.header > .wrapper > .switch.active .switch-circle{
    margin: 1.4rem;
    background-color: var(--primary-light);
    
}


.front-page{
    margin-top: 5rem;
    /* border: 1px solid lime; */
    display: grid;
    grid-template-columns: 45% 55%;
    position: relative;
}
.front-page > .wrapper{
    /* border: 1px solid red; */
    align-self: center;
}
.front-page > .wrapper > p{ 
    font-size: medium;
    line-height: 1.5rem;
}
.front-page > .wrapper > .contact-button{
    display: inline-block;
    /* border: 1px solid red; */
    text-decoration: none;
    color: #FFF;
    background-color: #2563EB;
    padding: .8rem;
    border-radius: 10px;
    margin-top: 2rem;
    font-size: medium;
}
.front-page > .wrapper > .contact-button:hover{
    background-color: #2159d1;
}
.front-page > .image-wrapper{
    /* border: 1px solid red; */
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.front-page > .image-wrapper > .image{
    position: relative;
    /* border: 1px solid violet; */
    overflow: hidden;
    height: 20rem;
    width: 10rem;
    transform: skew(-10deg);
    transition-duration: 300ms;

}
.front-page > .image-wrapper > .image:nth-child(1) > img{
    transform: scale(1.5) skew(10deg);
    margin-top: 2.3rem;
}
.front-page > .image-wrapper > .image > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: skew(10deg) scale(1.35);
}
.front-page > .image-wrapper > .image:hover{
    filter: saturate(1.3);
    transform: skew(-10deg) scale(1.1);
}
.front-page > .image-wrapper > .center-image-wrapper{
    width: 15rem;
    height: 25rem;
}

.portfolio{
    margin-top: 8.8rem;
    text-align: center;
    /* border: 1px solid red; */
    width: 100%;
}

.portfolio > .portfolio-card{
    margin-top: 3rem;
    position: relative;
    /* border: 1px solid violet; */
    width: 100%;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.about-section{
    /* border: 1px solid lime; */
    text-align: center;
    margin-top: 7.4rem;
}
.about-section > .wrapper{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 1px solid red; */
    height: fit-content;
    justify-content: center;
    justify-items: center;
}
.about-section > .wrapper > img{
    width: 25rem;
    height: 60%;
    object-fit: cover;
    justify-self: center;
    border-radius: 10px;
    /* border: 1px solid lime; */
    box-shadow: -3px 3px 36px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: -3px 3px 36px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 3px 36px 2px rgba(0,0,0,0.2);

}
.about-section > .wrapper > p{
    justify-self: start;
    text-align: start;
    color: var(--light);
    font-size: larger;
    line-height: 2rem;
    /* border: 1px solid lime; */
    height: fit-content;
    margin-top: 1rem;
}

section.skills{
    margin-top: -5rem;
    text-align: center;
}
section.skills > .wrapper{
    margin-top: 1rem;
    /* border: 1px solid lime; */
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
}

section.skills > .wrapper > .box{
    /* border:1px solid #2159d1; */
    height: 25rem;
    width: 100%;
    min-width: 356px;
    max-width: 380px;
    background-color: var(--dark-secondary);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: -3px 3px 36px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: -3px 3px 36px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 3px 36px 2px rgba(0,0,0,0.2);
}

section.skills > .wrapper > .box > .header{
    /* border: 1px solid red; */
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 1rem;
}
section.skills > .wrapper > .box >.header > i{
    font-size: 2.3rem;
    color: #2159d1;
    justify-self: center;
    align-self: flex-start;
}
section.skills > .wrapper > .box >.header > span{
    /* border: 1px solid lime; */
    text-align: start;
}

section.skills > .wrapper > .box > .header > span > h3{
    font-size: 1.3rem;
    margin: 0;    
    /* border:1px solid #08B6D4; */
    margin-top: -.5rem;
}
section.skills > .wrapper > .box > .header > span > p{
    font-weight: 400;
    margin-top: 5px;
}
section.skills > .wrapper > .box > .body{
    display: flex;
    margin-top: 2rem;
    column-gap: .8rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    justify-items: center;
}
section.skills > .wrapper > .box > .body > .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    font-size: small;
    gap: 5px;
    transition-duration: 300ms;
    cursor: pointer;
}
section.skills > .wrapper > .box > .body > .image:hover{
    transform: scale(1.3);
}
section.skills > .wrapper > .box > .body > .image > img{
    width: 4rem;
    aspect-ratio: 3/2;
    object-fit: contain;
}

section.qualification{
    margin-top: 10.5rem;
    text-align: center;
}
section.qualification > .wrapper{
    margin-top: 5rem;
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-columns: 45% 1% 45%;
    width: 100%;
    justify-content: center;
}

section.qualification > .wrapper > ul{
    margin: 0;
    padding: 0 1rem;
    
}
section.qualification > .wrapper > ul > li{
    transition-duration: 300ms;
}
section.qualification > .wrapper > ul > li:hover{
    transform: scale(1.1);

}
section.qualification > .wrapper > ul  h3{
    color: var(--light);
    font-weight: 400;
}
section.qualification > .wrapper > ul  small{
    color: var(--font-light-color);
    font-size: small;
    font-weight: 300;
}
section.qualification > .wrapper > .left-list{
    text-align: end;
    list-style: none;
}
section.qualification > .wrapper > .left-list > li{
    margin-bottom: 8.5rem;
    margin-right: 1rem;
    transform-origin: right;
}
section.qualification > .wrapper > .right-list > li{
    margin-top: 6.8rem;
    margin-left: 1rem;
    transform-origin: left;
}
section.qualification > .wrapper > .right-list{
    text-align: start;
    list-style: none;
}
section.qualification > .wrapper > .center-line{
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
section.qualification > .wrapper > .center-line > .dot{
    background-color: #2563EB;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: relative;
}

section.qualification > .wrapper > .center-line > .dot.line::after{
    content: "";
    background-color: #2563EB;
    height: 5.5rem;
    width: 3px;
    position: absolute;
    top: .9rem;
    left: 50%;
    transform: translate(-50%);
    /* background-color: var(--light); */
}

section.get-in-touch{
    /* border: 1px solid red; */
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
section.get-in-touch > p{
    margin-top: 1rem;
    max-width: 70%;
    line-height: 1.5rem;
}
section.get-in-touch > .hi-button{
    display: inline-block;
    margin-top: 2rem;
    border: 1px solid var(--light);
    color: var(--light);
    padding: .8rem 2.5rem;
    font-size: larger;
    border-radius: 5px;
    text-decoration: none;
}

footer{
    /* border: 1px solid #08B6D4; */
    padding: 2rem;
    text-align: center;
    color: var(--light);
    font-weight: 300;
}

@media (max-width:1200px) {
    .xl-heading{
        font-size: 2.1rem;
    }
    .headings{
        font-size: 2.1rem;
    }
    .sub-heading{
        font-size: small;
    }
    .main-container{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .front-page{
        grid-template-columns: 100%;
        row-gap: 3rem;
        /* border: 1px solid red; */
    }
    
    .front-page > .wrapper > .contact-button{
        margin-top: 1rem;
    }

    .front-page > .image-wrapper{
        /* border: 1px solid red; */
        align-self: center;
        grid-row: 1;
    }
    .front-page > .image-wrapper > .image{
        width: 8rem;
        height: 10rem;
    
    }
    .front-page > .image-wrapper > .center-image-wrapper{
        width: 13rem;
        height: 15rem;
    }

    .about-section > .wrapper{
        grid-template-columns: 100%;
        /* border: 1px solid red; */
    }
    .about-section > .wrapper > img{
        max-width: 18rem;
        width: 100%;
        height: 20rem;
        margin: 0;
    }
    
    .about-section > .wrapper > p{
        font-size: medium;
        line-height: 1.3rem;
        margin-top: 2rem;
    }

    section.skills{
        margin-top: 8rem;
    }
    section.skills > .wrapper{
        grid-template-columns: 100%;
        row-gap: 2rem;
        /* border: 1px solid red; */
        position: relative;
    }
    section.skills > .wrapper > .box{
        min-width: auto;
        width: 100%;
    }

    section.qualification{
        margin-top: 5rem;
    }
    section.qualification > .wrapper > ul{
        padding: 0 ;
        
    }
    section.qualification > .wrapper > ul > li > h3{
        font-size: small;
        width: 100%;
    }
    section.qualification > .wrapper > ul > li > small{
        font-size: xx-small;
    }
    section.qualification > .wrapper > .left-list > li{
        margin-bottom: 7rem;
        margin-right: 1rem;
        transform-origin: right;
    }
    section.qualification > .wrapper > .right-list > li{
        margin-top: 7rem;
    }
    
    section.get-in-touch{
        margin-top: 0;
    }
    section.get-in-touch p{
        width: 100%;
        max-width: none;

    }
}